<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h2><%= @blog.title %></h2>

      <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

      <p><%= @blog.body %></p>

      <% unless current_user.is_a? GuestUser %>
        <%= form_with model: @comment, url: '#' do |form| %>
          <div class="form-group">
            <%= form.text_area :content, class: 'form-control', placeholder: 'Your comment' %>
          </div>

          <%= form.submit 'Post Comment', class: "btn btn-primary" %>
        <% end %>
      <% end %>

      <!-- Start of comments-->
      <%= render @blog.comments %>
      <!-- End of comments-->
    </div><!-- /.blog-main -->

    <div class="col-md-4">
      <%= render 'shared/blog_sidebar' %>
    </div>
  </div>
</main>
